{
  "singleQuote": true,
  "printWidth": 110,
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "singleAttributePerLine": true
}