.cross-button {
  @include reset-button;

  width: 48px;
  height: 48px;
  position: relative;
  border-radius: var(--border-radius-mini);
  background: var(--color-palette-3);
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 60%;
    height: 2px;
    background: var(--light);
    border-radius: var(--border-radius-mini);
  }

  &::before {
    rotate: 45deg;
  }
  &::after {
    rotate: -45deg;
  }
}
